body {
    background-color: #5e5e5e;
    color: white;
}

/* * {
    box-sizing: border-box;
  } */
/* Custom classes */

.link {
    text-decoration: none;
    transition: opacity 0.3s ease;
    color: white;
}

.icon {
    height: 32px;
    width: 32px;
    padding: 0px 5px;
}

.avatar {
    height: 100%;
    width: 100%;
}

.content-name {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 800;
    padding: 20px 0px;
}

.content-description {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    padding: 10px 0px;
}

.content-contact {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    padding: 10px 0px;
    width: fit-content;
    height: fit-content;
}

.content-social {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    padding: 10px 0px;
    opacity: 1;
    width: fit-content;
    height: fit-content;
}

.content-avatar {
    margin-right: 0px;
}

.layout-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.layout-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 50%;
    position: relative;
    padding: 60px 60px 60px 60px;
    box-sizing: border-box;
}

.layout-row {
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}

/* Animations */

.content-social:hover>.link {
    opacity: 0.5;
    transition: opacity 0.25s ease;
}

.content-social:hover>.link:hover {
    opacity: 1;
    transition: opacity 0.25s ease;
}

.content-contact:hover>.link {
    opacity: 0.5;
    transition: opacity 0.25s ease;
}

/* @media screen and (max-width: 800px) {

    .layout-column,
    .layout-row {
        width: 100%;
        /* The width is 100%, when the viewport is 800px or smaller */
}
}

*/